@import "./base/variables";
@import "./base/extend";

// section
@import "./section/header";
@import "./section/main";
@import "./section/footer";

/*! clases globales */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

//fin de estilos globales
