/* INICIO INDEX */
.fondo-index {
  background-image: url("../img/fondoIndex.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.parrafo {
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
}
//FIN DEL INDEX

/* DIF. TIPO DE TOSTADO */
/* MAIN */
#fondo {
  min-height: 100vh;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo {
  position: relative;
  z-index: 3;
}

/* FIN DE TIPO DE TOSTADO */
