/* tipografia */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$c-Piel: #c7bead;
$c-Blanco: #e9dddd;
$c-Negro: #000;
$c-Gris: #313030;
$c-Marron: #705b3f8c;
$c-Naranja: #f4b160;
$c-Mostaza: #a5946e;
$font-family-parrafo: "Poppins", sans-serif;
